
.vs/WebApplication8/v15/Server/sqlite3/storage.ide-wal
.vs/WebApplication8/v15/Server/sqlite3/storage.ide
.vs/WebApplication8/v15/Server/sqlite3/db.lock
.vs/WebApplication8/v15/Server/sqlite3/storage.ide-shm
